<html>
    <head>
        <title> Začetna stran </title>
        <style>
            body {
                background-color: antiquewhite;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        </style>
    </head>
    <body>
        <center>
            <p> <h2> Dobrodošli v igri minolovec! </h2> </p>
            <p> Če želite prebrati navodila lahko to storite v datoteki README.md, <br> drugače pa si kar izberite željeno velikost polja in začnite z igro. </p>
            <p>
                <form method="POST">
                    <p>
                        <label for="x"> Število stolpcev: </label> <br>
                        <input type="number" name="stolpci" min="5" max="20" value="10"> <br>
                    </p>
                    <p>
                        <label for="y"> Število vrstic: </label> <br>
                        <input type="number" name="vrstice" min="5" max="20" value="10"> <br>
                    </p>
                    <p> <input type="submit" value="Začni!"> </p>
                </form>
            </p>
        </center>
    </body>
</html>