<html>
    <head>
        <title> Užaljen kuža </title>
        <style>
            body {
                background-color: antiquewhite;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        </style>
    </head>
    <body>
        <center>
            <p> <h3> Upam da ste si premislili glede odlocitve. Če ne bom zares užaljen! ): </h3> </p>
            <p> <img witdh="{{Kuza}}" height="{{Kuza}}" src="../Slike/Kuza"> </p>
            <p>
            <form method="POST">
                <button type="submit" name="igraj" value="znova"> Igraj znova! </button>
                <button type="submit" name="igraj" value="ne"> Ne hvala. </button>
            </form>
            </p>
        </center>
    </body>
</html>