<html>
    <head>
        <title> Zmaga! </title>
        <style>
            body {
                background-color: antiquewhite;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }
        </style>
    </head>
    <body>
        <center>
            <p> <h3> Čestitke! Zmagali ste! </h3> </p>
            <p> <iframe width="1440px" height="810px" src="https://www.youtube.com/embed/MdN0NXgjsn8?autoplay=1" allow=autoplay></iframe> </p>
            <p>
            <form method="POST">
                <button type="submit" name="igraj" value="znova"> Igraj znova! </button>
                <button type="submit" name="igraj" value="ne"> Ne hvala. </button>
            </form>
            </p>
        </center>
    </body>
</html>